* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
body {
    margin:auto;
    background: #0F1624;
}

#container {
    position: relative;
    margin: auto;
    max-width: 1200px;
}
header {   
    position: relative; 
    height: 137px;
    display:flex;
    justify-content: space-between;
}

#social-icons {
    position: absolute;
    width: 119px;
    height: 32px;
    left: 87.5%;
    top: 46px;
    }

#github {
    width: 32px;
    height: 32px;
    background: #0F1624;
}

#linkedin { 
    position: absolute;
    width: 32px;
    height: 32px;
    right: 0px;
    background: #FFFFFF;
    border-radius: 3px;
}

.menu {
    margin: auto;
    position: absolute;
    width: 490px;
    top: 46px;
    left: 31.3%; 
    display:flex;
    flex-direction: row;
    justify-content: space-between; 
}

#points {
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}

#points:hover {
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 83px;
    border-image-slice: 1;
    transition: 0.3s;
    opacity: 0.5;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}
.logo { 
    position: absolute; 
    width: 202px;
    height: 47.58px;
    left: 37px;
    top: 40px;
}

#logo-img {  
    position: absolute;
    width: 47.58px;
    height: 47.58px;
}

#portfolio {
    font-family: 'Poppins';
    font-style: normal;
    text-align: right;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #FFFFFF;
}

#hero { 
    position: relative;
    width: 809px;
    left: 115px;
    top: 146px;
}

h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 82px;
    color: #FFFFFF;
    letter-spacing: 1px;
    word-spacing: -3px;
}

h2 {
    font-weight: 600;
    font-size: 55px;
    line-height: 82px;
    color: #FFFFFF;
    margin-left: 7%;
    letter-spacing: 1px;
}

h3 {
    font-weight: 600;
    font-size: 36px; 
    line-height: 82px;
    color: #FFFFFF;
    margin-top: 63px;
    margin-bottom: 92px;
    position: relative;
    letter-spacing: 0.5px;
}

h3::after {
    content: '';  
    width: 57%;   
    height: 10px;  
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 83px;   
    position: absolute;   
    top: 80px; 
    left: 25%;  
    }

#hero-text {
    margin-top: 67px;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #BCBCBC;
    margin-bottom: 67px;
    letter-spacing: 1px;
    word-spacing: -4.5px;
}

.hero_img { 
    position: absolute;
    width: 758px;
    height: 758px;
    left: 54%;
    top: 135px;
    opacity: 0.5;
}

#btn { 
    width: 280px;
    height: 80px;
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 83px;
    font-weight: 600;
    font-size: 28px;
    color: #FFFFFF;
    margin:auto;
    margin-top: 29px;
    letter-spacing: 1px;
    word-spacing: -2px;
}

.projects {   
    margin-top: 323px;
}

.grid-project {
    display: grid;
    grid-template-columns: auto auto;    
    column-gap: 6%;
    row-gap: 105px;
    
}
.project1 {
    grid-column: 1/3;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between; 
    margin: 15px;
    margin-top: 120px;
    
    background: #0F1624;
    box-shadow: 0px 0px 12px #FFFFFF;
    border-radius: 50px 0px;
    
}

.project2 {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    padding:25px;
    background: #0F1624;
    box-shadow: 0px 0px 12px #FFFFFF;
    border-radius: 50px 0px;
    margin: 15px;

}

p {
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #FFFFFF;
    height: 194px;
    width: 500px;
    text-align: left;
    margin-left: 55px;
    letter-spacing: 1px;
    word-spacing: -4.5px;
    
}
#image1 {
    Width: 500px;
    Height: 541.09px;
    padding: 30px;
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 0px 0px 70px 0px;
}

.image2 {
    border-radius: 50px 8px 8px 8px;
}

.btn2 { 
    width: 225px;
    height: 65px;
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 83px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 6%;
    margin-top: 31px;
    letter-spacing: 1px;
    word-spacing: -2px;
}
.btn3 { 
    width: 225px;
    height: 65px;
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 83px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 2%;
    margin-top: -6.5px;
    letter-spacing: 1px;
    word-spacing: -2px;
}

.title2 {
    margin-top: 8px;
    margin-left: -4%;
    margin-bottom: 0px;
    position: relative;
}

.title2::after {
        content: '';
        width: 151%;     
        height: 4.11px;       
        background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);       
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
        border-radius: 83px;        
        position: absolute;    
        top: 77px;
        left: -20%;
        
}
.paragraph2 {
    margin-top: 20.57px;
    height: 216px;
    width: 460px;
    margin:auto;
    margin-left:1%;
    margin-top: 26px;
    letter-spacing: 0.5px;
    word-spacing: -4px;
}



